Filip W <wojcieszyn@gmail.com> <wojcieszyn@gmail.com>
Kristian Hellang <kristian@hellang.com> <khellang@hotmail.com>
Justin Rusbatch <jrusbatch@gmail.com> <jrusbatch@users.noreply.github.com>
dschenkelman <damian.schenkelman@gmail.com> <damian.schenkelman@gmail.com>
Nick Berardi <nick@managedfusion.com> <nberardi@gmail.com>
estoy <erik.stoy@bigfoot.com> <erik.stoy@tretton37.com>
