<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="ICSharpCode.NRefactory" version="5.3.0" targetFramework="net40" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net40" />
  <package id="Mono.CSharp" version="3.0.6" targetFramework="net40" />
  <package id="ScriptCs.Contracts" version="0.8.1" targetFramework="net45" />
</packages>