source https://nuget.org/api/v2

nuget Autofac 3.3.1
nuget Autofac.Mef 3.0.3
nuget AutoFixture 3.18.8
nuget AutoFixture.AutoMoq 3.18.8
nuget AutoFixture.Xunit 3.18.8
nuget Common.Logging 2.1.2
nuget ICSharpCode.NRefactory 5.3.0
nuget LiteGuard.Source 0.8.0
nuget Microsoft.Web.Xdt 2.1.0
nuget Mono.Cecil 0.9.5.4
nuget Mono.CSharp 3.6.1
nuget Moq 4.2.1402.2112
nuget Newtonsoft.Json 6.0.3
nuget NuGet.Core 2.8.2
nuget PowerArgs 2.0.5
nuget Roslyn.Compilers.Common 1.2.20906.2
nuget Roslyn.Compilers.CSharp 1.2.20906.2
nuget Should 1.1.20
nuget StyleCop.MSBuild 4.7.49.0
nuget Xbehave 1.1.0
nuget xunit 1.9.2
nuget xunit.extensions 1.9.2
nuget xunit.runners 1.9.2
nuget NuGet.CommandLine