<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bau" version="0.1.0-beta07" targetFramework="net45" />
  <package id="Bau.Exec" version="0.1.0-beta07" targetFramework="net45" />
  <package id="Bau.MSBuild" version="0.1.0-beta01" targetFramework="net45" />
  <package id="NuGet.CommandLine" version="2.8.3" />
  <package id="ScriptCs.Contracts" version="0.9.0" targetFramework="net45" />
</packages>
