<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net462" />
  <package id="PowerArgs" version="2.0.5.1" targetFramework="net462" />
  <package id="StyleCop.MSBuild" version="4.7.55.0" targetFramework="net462" developmentDependency="true" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
</packages>