<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net45" />
  <package id="Autofac.Mef" version="3.0.1" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="Nuget.Core" version="2.2.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.47" targetFramework="net45" />
</packages>