<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net45" />
  <package id="Autofac.Mef" version="3.0.3" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="Nuget.Core" version="2.8.5" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.49.0" targetFramework="net45" developmentDependency="true" />
</packages>